.page-header--opened {
  @media (max-width: $desktop-width - 1) {
    position: fixed;
    display: block;
    width: 100vw;
    height: 778px;
    max-height: 100%;
    z-index: 2;

    overflow-y: auto;

    background-color: #a87b62;
  }

  @media (max-width: $mobile-only-width) {
    height: 684px;
  }
}

.page-header--login {
  margin: 0 auto;
  padding: 10px;
}

.page-header.no-js {
  @media (max-width: $desktop-width - 1) {
    position: relative;
    display: block;
    width: 100vw;
    height: 778px;
    max-height: 100%;
    z-index: 2;

    overflow-y: auto;

    background-color: #a87b62;
  }

  @media (max-width: $mobile-only-width) {
    height: 684px;
  }
}

.page-header--opened .main-nav,
.page-header.no-js .main-nav {
  @media (max-width: $desktop-width - 1) {
    display: flex;
    flex-direction: column;
  }
}

.page-header--opened .main-nav__container-up,
.page-header--opened .main-nav__container-down,
.page-header.no-js .main-nav__container-up,
.page-header.no-js .main-nav__container-down {
  @media (max-width: $desktop-width - 1) {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }
}

.page-header .main-nav__login {
  @media (max-width: $desktop-width - 1) {
    display: block;
  }
}

.page-header.no-js .main-nav__login {
  @media (max-width: $desktop-width - 1) {
    display: block;
  }
}

.page-header--opened .user-nav__login,
.page-header.no-js .user-nav__login {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.page-header__up-container {
  border-bottom: 1px solid #f6f5f4;

  @media (max-width: $desktop-width - 1) {
    border-bottom: none;
  }
}

.page-header--opened .page-header__up-container,
.page-header.no-js .page-header__up-container {
  @media (max-width: $desktop-width - 1) {
    margin-bottom: 77px;
  }
}

.page-header__inner-up-container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 30px calc(50% - 609px) 11px;

  @media (max-width: $desktop-width - 1) {
    padding: 30px 45px 23px;
  }

  @media (max-width: $mobile-only-width) {
    padding: 20px 15px 13px;
  }
}

.page-header--opened .page-header__inner-up-container,
.page-header.no-js .page-header__inner-up-container {
  @media (max-width: $desktop-width - 1) {
    position: relative;
  }
}

.page-header.no-js .page-header__inner-up-container {
  @media (max-width: $desktop-width - 1) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.page-header__hamburger {
  display: none;

  @media (max-width: $desktop-width - 1) {
    display: block;
    height: max-content;
    padding: 24px 0 0;
  }

  @media (max-width: $mobile-only-width) {
    padding: 17px 0 0;
  }
}

.page-header.no-js .page-header__hamburger {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.page-header__hamburger button {
  background-color: transparent;

  cursor: pointer;

  border: none;
  padding: 0;
}

.page-header__hamburger-icon {
  @media (max-width: $desktop-width - 1) {
    stroke: #1d1613;
  }
}

.page-header--closed .page-header__hamburger-icon {
  @media (max-width: $desktop-width - 1) {
    stroke: #1d1613;
  }
}

.page-header--opened .page-header__hamburger-icon {
  @media (max-width: $desktop-width - 1) {
    stroke: #ffffff;
  }
}

.page-header__search {
  height: max-content;
  padding: 10px 0 0 24px;

  @media (max-width: $desktop-width - 1) {
    display: none;
  }

  @media (max-width: $mobile-only-width) {
    padding: 0;
  }
}

.page-header--opened .page-header__search,
.page-header.no-js .page-header__search {
  @media (max-width: $desktop-width - 1) {
    display: block;
    order: 1;
    position: absolute;
    top: 126px;
    left: 22px;
    width: 91.4%;
  }

  @media (max-width: $mobile-only-width) {
    top: 102px;
    left: 15px;
  }
}

.page-header__search span {
  margin: 0 12px 0 0;
  position: absolute;

  @media (max-width: $desktop-width - 1) {
    top: 20px;
    left: 36px;
  }

  @media (max-width: $mobile-only-width) {
    top: 10px;
    left: 13px;
  }
}

.page-header__search-icon {
  fill: #000000;

  @media (max-width: $desktop-width - 1) {
    width: 16px;
    height: 16px;
  }
}

.page-header--opened .page-header__search-icon,
.page-header.no-js .page-header__search-icon {
  @media (max-width: $desktop-width - 1) {
    fill: #ffffff;
  }
}

.page-header__search input {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #1d1613;

  padding: 0 29px;
  border: none;
  border-radius: 21px;

  &:hover {
    outline: 1px solid #808080;
    outline-offset: 5px;
  }

  &:focus {
    outline: 2px solid #000000;
    outline-offset: 5px;
  }

  @media (max-width: $desktop-width - 1) {
    color: #ffffff;
  }
}

.page-header--opened input,
.page-header.no-js input {
  background-color: rgba(#ffffff, 0.15);

  border-radius: 21px;
  padding: 10px 35px 9px;
  width: 100%;
}

.page-header__search input::placeholder {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #9b9997;

  @media (max-width: $desktop-width - 1) {
    color: transparent;
  }
}

.page-header__logo-container a {
  display: inline-flex;
}

.page-header__logo-container .page-header__logo-icon {
  fill: #a87b62;

  @media (max-width: $mobile-only-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header.no-js .page-header__logo-container {
  @media (max-width: $desktop-width - 1) {
    justify-self: center;
  }
}

.page-header--opened .page-header__logo-icon,
.page-header.no-js .page-header__logo-icon {
  @media (max-width: $desktop-width - 1) {
    fill: #ffffff;
  }
}

.page-header--opened .user-nav__cart-icon,
.page-header.no-js .user-nav__cart-icon {
  fill: none;
  stroke: #ffffff;

  @media (max-width: $mobile-only-width) {
    width: 18px;
    height: 16px;
  }
}
