.page-body--no-scroll {
  overflow-y: hidden;
}

.page-body__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.page-body__shadow.active {
  display: block;
}

.page-body__page-header {
  margin-bottom: 120px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 60px;
  }
}

.page-body__page-header--product-card {
  margin-bottom: 80px;
  border-bottom: 1px solid #f6f5f4;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 30px;
    border-bottom: none;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
  }
}

.page-body__page-header--catalog {
  margin-bottom: 80px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 40px;
  }
}
