.page-body__page-header {
  margin-bottom: 120px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 60px;
  }
}

.page-body__page-header--product-card {
  margin-bottom: 80px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 0;
  }
}

.page-body__page-header--catalog {
  margin-bottom: 80px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-only-width) {
    margin-bottom: 40px;
  }
}
